.DS_Store
Thumbs.db
db.json
*.log
/public
.deploy*/
/themes/hugo-xmin


node_modules

/.vscode/settings.json

/.kilocode/package-lock.json
/.kilocode/package.json
/.kilocode/.gitignore
/.kilocode/*.lock

/.roo/package-lock.json
/.roo/package.json
/.roo/.gitignore
/.roo/*.lock
