{{ .Page.Store.Set "themeExtensionHasMermaid" true }}
{{- $id := printf "mermaid-codeblock-%d" .Ordinal -}}
{{- $attrs := .Attributes -}}
{{- $width := index $attrs "width" | default "100%" -}}
{{- $height := index $attrs "height" | default "auto" -}}
{{- $maxWidth := index $attrs "max-width" | default "" -}}
{{- $maxHeight := index $attrs "max-height" | default "" -}}
{{- $style := index $attrs "style" | default "" -}}
{{- $class := index $attrs "class" | default "" -}}
{{- $styleSuffix := "" -}}
{{- if ne $maxWidth "" -}}
  {{- $styleSuffix = printf "%s max-width: %s;" $styleSuffix $maxWidth -}}
{{- end -}}
{{- if ne $maxHeight "" -}}
  {{- $styleSuffix = printf "%s max-height: %s;" $styleSuffix $maxHeight -}}
{{- end -}}
{{- if ne $style "" -}}
  {{- $styleSuffix = printf "%s %s" $styleSuffix $style -}}
{{- end -}}
{{- $containerStyle := printf "width: %s; height: %s; margin: 1rem 0;%s" $width $height $styleSuffix -}}
<div class="mermaid-container{{ with $class }} {{ . }}{{ end }}" style="{{ $containerStyle | safeCSS }}">
  <pre id="{{ $id | safeHTMLAttr }}" class="{{ with $class }}{{ . | safeHTMLAttr }} {{ end }}mermaid">
{{ .Inner | safeHTML }}
  </pre>
</div>
