{{ .Page.Store.Set "themeExtensionHasDrawio" true }}
{{- $id := printf "drawio-codeblock-%d" .Ordinal -}}
{{- $attrs := .Attributes -}}
{{- $width := index $attrs "width" | default "100%" -}}
{{- $height := index $attrs "height" | default "auto" -}}
{{- $maxWidth := index $attrs "max-width" | default "" -}}
{{- $maxHeight := index $attrs "max-height" | default "" -}}
{{- $style := index $attrs "style" | default "" -}}
{{- $class := index $attrs "class" | default "" -}}
{{- $page := index $attrs "page" | default "0" -}}
{{- $styleSuffix := "" -}}
{{- if ne $maxWidth "" -}}
  {{- $styleSuffix = printf "%s max-width: %s;" $styleSuffix $maxWidth -}}
{{- end -}}
{{- if ne $maxHeight "" -}}
  {{- $styleSuffix = printf "%s max-height: %s;" $styleSuffix $maxHeight -}}
{{- end -}}
{{- if ne $style "" -}}
  {{- $styleSuffix = printf "%s %s" $styleSuffix $style -}}
{{- end -}}
{{- $containerStyle := printf "width: %s; height: %s; margin: 1rem 0;%s" $width $height $styleSuffix -}}

{{- $content := .Inner | replaceRE `(?s)^\s+|\s+$` "" -}}

{{- /* Inline XML content - use data URI in url field, since xml field expects deflate+base64 */ -}}
<div class="drawio-container{{ with $class }} {{ . }}{{ end }}" style="{{ $containerStyle | safeCSS }}">
  <div id="{{ $id | safeHTMLAttr }}" class="drawio-root mxgraph" style="max-width: 100%; border: 1px solid transparent;" data-mxgraph='{"highlight":"#0000ff","nav":true,"resize":true,"toolbar":"zoom layers lightbox","edit":"_blank","page":{{ $page }},"url":"data:text/xml;base64,{{ $content | base64Encode }}"}'></div>
</div>
