{{ .Page.Store.Set "themeExtensionHasChartJs" true }}
{{- $id := printf "chartjs-codeblock-%d" .Ordinal -}}
{{- $attrs := .Attributes -}}
{{- $width := index $attrs "width" | default "100%" -}}
{{- $height := index $attrs "height" | default "auto" -}}
{{- $maxWidth := index $attrs "max-width" | default "" -}}
{{- $maxHeight := index $attrs "max-height" | default "" -}}
{{- $style := index $attrs "style" | default "" -}}
{{- $class := index $attrs "class" | default "" -}}
{{- $styleSuffix := "" -}}
{{- if ne $maxWidth "" -}}
  {{- $styleSuffix = printf "%s max-width: %s;" $styleSuffix $maxWidth -}}
{{- end -}}
{{- if ne $maxHeight "" -}}
  {{- $styleSuffix = printf "%s max-height: %s;" $styleSuffix $maxHeight -}}
{{- end -}}
{{- if ne $style "" -}}
  {{- $styleSuffix = printf "%s %s" $styleSuffix $style -}}
{{- end -}}
{{- $containerStyle := printf "width: %s; height: %s; margin: 1rem auto;%s" $width $height $styleSuffix -}}

{{- $content := .Inner | replaceRE `(?s)^\s+|\s+$` "" -}}

{{- /* Inline JSON content */ -}}
<div class="chartjs-container{{ with $class }} {{ . }}{{ end }}" style="{{ $containerStyle | safeCSS }}">
  <canvas id="{{ $id | safeHTMLAttr }}" data-chartjs-config-id="{{ $id }}-config">Chart</canvas>
</div>
<script type="application/json" id="{{ $id }}-config">{{ $content | safeJS }}</script>
