{{- $default_highlightjs_js := "//cdnjs.cloudflare.com/ajax/libs/highlight.js/%VERSION%/highlight.min.js" }}
{{- $default_highlightjs_css := "//cdnjs.cloudflare.com/ajax/libs/highlight.js/%VERSION%/styles/%STYLE%.min.css" }}
{{- $default_highlightjs_lang := "//cdnjs.cloudflare.com/ajax/libs/highlight.js/%VERSION%/languages/%LANG%.min.js" }}
{{- $default_mathjax_js := "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" }}
{{- $default_katex_js := "https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js" }}
{{- $default_katex_css := "https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" }}
{{- $default_katex_autorender := "https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js" }}
{{- $default_chartjs_js := "https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js" }}
<script type="module">
{{- "// import * as Popper from \"@popperjs/core\";" | safeJS }}
{{- "// import * as bootstrap from \"bootstrap\";" | safeJS }}
{{- with $.Site.Params.modules }}
    {{- with .module }}
        {{- range . }}
{{ . | safeJS }}
        {{ end }}
    {{- end }}
{{- end }}
</script>
{{- with $.Site.Params.highlightjs }}
<!-- highlight.js begin -->
<script type="text/javascript" src='{{ replace (default $default_highlightjs_js .url.js) "%VERSION%" .version | safeURL  }}'></script>
    {{- range $lang := .langs }}
<script type="text/javascript" src='{{ replace (replace (default $default_highlightjs_lang $.Site.Params.highlightjs.url.lang) "%VERSION%" $.Site.Params.highlightjs.version) "%LANG%" $lang | safeURL  }}'></script>
    {{- end }}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', (event) => {
    const hljs_style = document.createElement('link');
    hljs_style.rel = 'stylesheet';
    hljs_style.href = '{{ replace (replace (default $default_highlightjs_css .url.style) "%VERSION%" .version) "%STYLE%" .style | safeURL | safeJS  }}';
    document.querySelector('head').appendChild(hljs_style);
    if (window.JSON) {
        hljs.configure(JSON.parse({{ .options | jsonify }}));
    } else {
        hljs.configure(evel({{ .options | jsonify }}));
    }
    const allLanguages = {};
    for (const lang of hljs.listLanguages() ) {
        allLanguages[lang.toLowerCase()] = true;
    }

    for(const block of document.querySelectorAll('{{ .selector | default "pre>code" }}')) {
        try {
            if (block.className.match(/\bmermaid\b/i)) {
                block.classList.add("mermaid");
                continue;
            }
            if (block.className.match(/\bnohighlight\b/i)) {
                continue;
            }
            const detectLang = block.className.match(/language-([^\s]+)/i);
            if (detectLang && detectLang.length >= 2 && hljs.getLanguage(detectLang[1])) {
                hljs.highlightElement(block);
            } else {
                const result = hljs.highlightAuto(block.innerText, hljs.listLanguages());
                if (result && result.value) {
                    block.innerHTML = result.value;
                    block.classList.add("hljs");
                }
            }
        } catch (e) {
            if (window.console) {
                console.log(e.toString() + "\r\nMaybe can not detect the language");
            }
        }
    }
});
</script>
<!-- highlight.js end -->
{{- end }}{{ partial "google-analytics.html" . }}
{{- with $.Site.Params.mathjax }}<!-- mathjax begin -->
<script type="text/javascript">
window.MathJax = {
    tex: {
        inlineMath: [['\\(','\\)']],
        displayMath: [['$$','$$'], ['\[','\]']],
        processEscapes: true,
        processEnvironments: true
    },
    options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
};
</script>
<script src="{{ .js | default $default_mathjax_js | safeURL }}" id="MathJax-script" async></script>
<!-- mathjax end -->
{{- end }}
{{- with $.Site.Params.katex }}<!-- katex begin -->
<script type="text/javascript" src='{{ .js | default $default_katex_js | safeURL }}'></script>
<script type="text/javascript" src='{{ .autorender | default $default_katex_autorender | safeURL }}'></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', (event) => {
    const katex_style = document.createElement('link');
    katex_style.rel = 'stylesheet';
    katex_style.href = '{{ .css | default $default_katex_css | safeJS  }}';
    document.querySelector('head').appendChild(katex_style);
    renderMathInElement(document.body, {
        delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "\\[", right: "\\]", display: true},
            {left: "\\(", right: "\\)", display: false},
            {left: "$", right: "$", display: false},
        ],
        throwOnError : false,
        ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    });
});
</script>
<!-- katex end -->
{{- end }}
{{- with $.Site.Params.chartjs }}<!-- chart.js begin -->
<script type="text/javascript" src='{{ .js | default $default_chartjs_js | safeURL }}'></script>
<!-- chart.js end -->
{{- end }}
{{- with $.Site.Params.mermaid }}<!-- mermaid begin -->
<script type="module">
import mermaid from "mermaid";
const config = {
    theme: '{{ .theme | default "default" }}',
    logLevel: 'fatal',
    securityLevel: 'loose', // 'sandbox', 'strict', 'loose', 'antiscript'
    startOnLoad: true,
    arrowMarkerAbsolute: false,
    /*
    er: {
        diagramPadding: 20,
        layoutDirection: 'TB',
        minEntityWidth: 100,
        minEntityHeight: 75,
        entityPadding: 15,
        stroke: 'gray',
        fill: 'honeydew',
        fontSize: 12,
        useMaxWidth: true,
    },
    flowchart: {
        diagramPadding: 8,
        htmlLabels: true,
        curve: 'basis',
    },
    sequence: {
        diagramMarginX: 50,
        diagramMarginY: 10,
        actorMargin: 50,
        width: 150,
        height: 65,
        boxMargin: 10,
        boxTextMargin: 5,
        noteMargin: 10,
        messageMargin: 35,
        messageAlign: 'center',
        mirrorActors: true,
        bottomMarginAdj: 1,
        useMaxWidth: true,
        rightAngles: false,
        showSequenceNumbers: false,
    },
    gantt: {
        titleTopMargin: 25,
        barHeight: 20,
        barGap: 4,
        topPadding: 50,
        leftPadding: 75,
        gridLineStartPadding: 35,
        fontSize: 11,
        fontFamily: '"Open Sans", sans-serif',
        numberSectionStyles: 4,
        axisFormat: '%Y-%m-%d',
        topAxis: false,
    },*/
};
mermaid.initialize(config);
</script>
<!-- mermaid end -->
{{- end }}
{{ with $.Site.Params.styleimport }}<!-- style import begin -->
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', (event) => {
    setTimeout(function() {
        var import_items = '';
        {{- range $url := .urls }}
        import_items += "@import url('{{ $url | safeJS }}');\r\n";
        {{ end }}

        if (import_items) {
            const import_style = document.createElement('style');
            import_style.innerHTML = import_items;
            document.querySelector('head').appendChild(import_style);
        }
    }, {{ default 256 .delay }});
});
</script>
<!-- style import end -->
{{- end }}
{{- with $.Site.Params.Content }}
  {{- with .after_footer }}
    {{- range . -}}
    <script
      {{- with .attributes }}
        {{- range $k, $v := . -}}
            {{- " " | safeHTMLAttr }}{{ $k | safeHTMLAttr }}="{{ $v | safeHTMLAttr }}"
        {{- end -}}
      {{- end -}}
    >
      {{- with .content }}
        {{- . | safeJS }}
      {{- end -}}
    </script>
    {{- end}}
  {{- end}}
{{- end}}