<article id="{{ .Type }}-{{ with .File }}{{ .UniqueID }}{{ end }}" class="article-panel reading-panel article article-type-{{ .Type }}" itemscope itemprop="blogPost">
  <div class="article-panel-inner">
    <header class="article-header">{{ partial "post/title.html" . }}</header>
    <div class="article-layout{{ if findRE `<li>` .TableOfContents }} has-toc{{ end }}">
      {{- if findRE `<li>` .TableOfContents }}
      <details id="toc" class="toc" open>
        <summary>{{ T "tableOfContents" }}</summary>
        {{ .TableOfContents }}
      </details>
      {{- end }}
      <div class="article-entry" itemprop="articleBody">{{ .Content }}</div>
    </div>
    {{ partial "ads/slot.html" (dict "page" . "kind" "article") }}
    <footer class="article-footer">
      <div class="article-meta">
        <span>{{ partial "post/category.html" . }}</span>
        <span>{{ partial "post/date.html" . }}</span>
      </div>
      {{ partial "post/tag.html" . }}
    </footer>
    {{ partial "post/nav.html" . }}
    {{ partial "comments.html" . }}
  </div>
</article>
