{{ if .IsNamedParams }}
<canvas id="{{ .Get "id" | default (printf "charjs-chart-%d" .Ordinal) | safeHTMLAttr }}" {{ with .Get "class" }} class="{{ . | safeHTMLAttr }}" {{ end }}>{{ .Get "alt" | default (printf "Chart %d" .Ordinal) | safeHTML }}</canvas>{{ if .Inner }}<script type="text/javascript">
document.addEventListener('DOMContentLoaded', (event) => {
    var chart_id = "{{ .Get "id" | default (printf "charjs-chart-%d" .Ordinal) | safeHTMLAttr }}";
    const chart_dom = document.getElementById(chart_id);
    if(chart_dom) {
    {{- with .Get "style" }}
    chart_dom.style.cssText = "{{ . | safeJS }}";
    {{- end }}
        new Chart(
            chart_dom,
            {{ .Inner | safeJS }}
        );
    }
});
</script>
{{ end }}{{ else }}
<canvas id="{{ printf "charjs-chart-%d" .Ordinal }}">{{ printf "Chart %d" .Ordinal | safeHTML }}</canvas>{{ if .Inner }}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', (event) => {
    var chart_id = "{{ printf "charjs-chart-%d" .Ordinal }}";
    new Chart(
        document.getElementById(chart_id),
        {{ .Inner | safeJS }}
    );
});
</script>{{ end }}{{ end }}