{{- .Page.Store.Set "themeExtensionHasEcharts" true -}}
{{- $id := .Get "id" | default (printf "echarts-shortcode-%d" .Ordinal) -}}
{{- $src := .Get "src" | default "" -}}
{{- $alt := .Get "alt" | default (printf "ECharts %d" .Ordinal) -}}
{{- $class := .Get "class" | default "" -}}
{{- $width := .Get "width" | default "100%" -}}
{{- $height := .Get "height" | default "400px" -}}
{{- $maxWidth := .Get "max-width" | default "" -}}
{{- $maxHeight := .Get "max-height" | default "" -}}
{{- $style := .Get "style" | default "" -}}
{{- $extensions := .Get "extensions" | default "" -}}
{{- $styleSuffix := "" -}}
{{- if ne $maxWidth "" -}}
  {{- $styleSuffix = printf "%s max-width: %s;" $styleSuffix $maxWidth -}}
{{- end -}}
{{- if ne $maxHeight "" -}}
  {{- $styleSuffix = printf "%s max-height: %s;" $styleSuffix $maxHeight -}}
{{- end -}}
{{- if ne $style "" -}}
  {{- $styleSuffix = printf "%s %s" $styleSuffix $style -}}
{{- end -}}
{{- $containerStyle := printf "width: %s; height: %s; margin: 1rem auto;%s" $width $height $styleSuffix -}}
{{- $inner := "" -}}
{{- with .Inner -}}
  {{- $inner = . | replaceRE `(?s)^\s+|\s+$` "" -}}
{{- end -}}

{{- if $src -}}
  {{- /* URL-based loading */ -}}
<div class="echarts-container{{ with $class }} {{ . }}{{ end }}" style="{{ $containerStyle | safeCSS }}">
  <div id="{{ $id | safeHTMLAttr }}" class="echarts-chart echarts-pending" data-echarts-src="{{ $src }}" data-echarts-extensions="{{ $extensions }}" style="width: 100%; height: 100%;">{{ $alt | safeHTML }}</div>
</div>
{{- else if $inner -}}
  {{- /* Inline JSON option */ -}}
<div class="echarts-container{{ with $class }} {{ . }}{{ end }}" style="{{ $containerStyle | safeCSS }}">
  <div id="{{ $id | safeHTMLAttr }}" class="echarts-chart" data-echarts-option-id="{{ $id }}-config" data-echarts-extensions="{{ $extensions }}" style="width: 100%; height: 100%;">{{ $alt | safeHTML }}</div>
</div>
<script type="application/json" id="{{ $id }}-config">{{ $inner | safeJS }}</script>
{{- else -}}
<div class="echarts-container{{ with $class }} {{ . }}{{ end }}" style="{{ $containerStyle | safeCSS }}">
  <div id="{{ $id | safeHTMLAttr }}" class="echarts-chart" style="color: red;">Error: echarts shortcode requires "src" attribute or inline JSON content.</div>
</div>
{{- end -}}
